<h1>Welcome to Rock, Paper, Scissors!</h1>
<h1><i class="fas fa-hand-rock"></i><i class="fas fa-hand-paper"></i><i class="fas fa-hand-scissors"></i></h1>
<p>To play, each player chooses one of rock, paper or scissors</p>
<p>Create a url as follows: /player 1 guess/ player 2 guess</p>
<p>Have fun!</p>
