<h1>Welcome to Rock, Paper, Scissors!</h1>
<p>To play, each player chooses one of rock, paper or scissors</p>
<p>Create a url as follows: /player 1 guess/ player 2 guess</p>
<p>Or, choose your hand:</p>
<h1>
  <a href ="/rock"><i class="fas fa-hand-rock"></i></a>
  <a href ="/paper"><i class="fas fa-hand-paper"></i></a>
  <a href ="/scissors"><i class="fas fa-hand-scissors"></i></a>
</h1>

<p>Have fun!</p>
